.div-btn-copy {
    position: relative;
    display: block;
}
.btn-pre {
    position: absolute;
    /* top: 0; */
    /* right: 0; */
    display: block;
    padding: 0 6px;
    font-size: 12px;
    font-family: Lato;
    color: #767676;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0 4px 0 4px;
    line-height: 23px;
}
.btn-pre:hover {
    color: #fff;
    background-color: #563d7c;
    border-color: #563d7c
}
.btn-copy {
    vertical-align: top;
    top: 0;
    right: 0;
    border-bottom-left-radius: 0;
}
.btn-bundle {
    vertical-align: top;
    top: 0;
    right: 3.4em;
    border-top-right-radius: 0;
}
/* .code-copy-btn { */
/*     top: 0px; */
/*     right: 0px; */
/* } */
/* .code-bundle-btn { */
/*     display: none; */
/*     top: 0px; */
/*     right: 6em; */
/* } */
